@using PL.Properties
@using BLL.Properties
@using System.Drawing
@model PL.Models.EventModel
@{
    ViewData["Title"] = "Meeting";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/game-stylesheet.css" />
}



<div class="menu">
    @if (Model.PlayerIsAlive)
    {
        <div class="frame1">
            @Html.Raw("<img src=\"data:image/jpeg;base64," + 
                       Convert.ToBase64String((byte[])new ImageConverter()
                      .ConvertTo(Model.Image, typeof(byte[]))) + "\" />")
        </div>
        <div class="frame2">
            @if (Model.ResultMeetingMessage != String.Empty)
            {
                <p style="color:@Colors.ResultMeetingColor">@Model.ResultMeetingMessage</p>
                <br />
            }

            <p>@ScenarioTexts.WalkingMessage</p>
            <p style="font-weight: bold; color: @Model.Color">@Model.Name</p>
            <br />
            <p>@Model.WelcomeWord</p>
            <p style="font-weight: bold; color: @Colors.BudgetColor">
                Your current budget: @Math.Truncate(Model.PlayerCurrentBudget) AM$ 
                @String.Format("{0 : 00}", Math.Truncate(Model.PlayerCurrentBudget * 100 % 100)) pence
            </p>
            
            @if (Model.IsPub)
            {
                <p style="font-weight: bold; color: @Colors.BeerColor">You have pints of beer: @Model.PlayerCurrentBeers</p>
            }

            <br />

            @if (Model.IsEnteringFee)
            {
                <div id="choice">
                    <a id="accept" class = "btn btn-success" href="#">Accept</a>
                    @Html.ActionLink("Skip", "Skip", "Event", new { area = "" }, new { @class = "btn btn-info" })
                </div>
                <div id="enter-fee">
                    @using (Html.BeginForm("EnterFee", "Event"))
                    {
                        @Html.LabelFor(m => m.EnteredFee)
                        <br />
                        @Html.TextBoxFor(m => m.EnteredFee, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.EnteredFee)
                        <br /><br />
                        <button type="submit" class = "btn btn-warning">Let's try</button>
                    }
                </div>
            }
            else
            {
            <div id="choice">
                @Html.ActionLink("Accept", "Accept", "Event", new { area = "" }, new { @class = "btn btn-success" })
                @Html.ActionLink("Skip", "Skip", "Event", new { area = "" }, new { @class = "btn btn-info" })
            </div>
            }

        </div>
    }
    else
    {
        <div class="frame1">
            @Html.Raw("<img src=\"data:image/jpeg;base64," + 
                       Convert.ToBase64String((byte[])new ImageConverter()
                      .ConvertTo(Images.Default, typeof(byte[]))) + "\" />")
        </div>
        <div class="frame2">
            <p>@Model.ResultMeetingMessage</p>
            <p>@Model.PlayerScore</p>
            <p>Your best result: @Model.PlayerHighScore meetings.</p>
            @Html.ActionLink("Start new game", "Reset", "Event", new { area = "" }, new { @class = "btn btn-warning" })
            <br /><br />
            @Html.ActionLink("Show history of game", "ShowHistory", "Event", new { area = "" }, new { @class = "btn btn-outline-warning" })
        </div>
    }
</div>

@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")

    <script>
         ﻿$(document).ready(function () {
            $('#enter-fee').hide();
            $('#choice #accept').on('click', function() {
              $('#choice').hide();
              $('#enter-fee').show();
            });
        });
    </script>
}

