@using PL.Properties;
@{
    ViewData["Title"] = "Home";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/game-stylesheet.css" />
}

<div class="menu">
    <div class="frame1">
        <img src="~/Content/images/HomeImage.jpg" />
    </div>
    <div class="frame2">
        <h5 id="title">@ScenarioTexts.WelcomeTitle</h5>
        <p id="large-text">@ScenarioTexts.WelcomeMessage</p>
        <br />
        <h5 id="title">@ScenarioTexts.InstructionsTitle</h5>
        <p>@ScenarioTexts.InstructionsPoint1</p>
        <p>@ScenarioTexts.InstructionsPoint2</p>
        <p>@ScenarioTexts.InstructionsPoint3</p>
        <br />
        <h6 id="warning-text">@ScenarioTexts.WelcomeWarningMessage</h6>
        <br />
        @Html.ActionLink("Let's go", "Index", "Event", new { area = "" }, new { @class = "btn btn-warning" })
    </div>
</div>